<!DOCTYPE html>
<html>
  <head>
    <title>AjaxApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b4343ec3b7.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <header class="bg-warning">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <%= link_to root_path do %>
              <h3 class="pl-auto text-dark">Bookersテスト</h3>
            <% end %>
          </div>
          <div class="col-5 d-flex justify-content-between">
            <% if user_signed_in? %>
              <div>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
              </div>
              <div>
                <%= link_to "本一覧", books_path, class: "btn btn-light" %>
              </div>
            <% else %>
              <div>
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light" %>
              </div>
              <div>
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-light" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <main class="mt-5">
      <%= yield %>
    </main>
  </body>
</html>
